<div class="container">
  <%= image_tag "service.jpg" %>
</div>

<div>
	<br>
	<h1>Services<h1>
		<br>
		<p>We strive to represent our clients in a way that ensures timely completion of tasks and outcome oriented project planning. We work with a range of clients including: mums and dads, planners, conveyancers, builders, architects and developers.Stock Land Divisionguides our clients through the correct processes with the local authorities to ensure that their project is hassle free..</p>

	<p>
		Project PlanningWe are very familiar with the process and efficient at getting the job done, we regularly work with various contractors and manage the completion of subdivision conditions in addition to obtaining clearances from service agencies. If you don't have the time, or want to take the stress out of your subdivision project, we can take care of everything for you. Read more about ourproject planning expertiseand help fast-track your subdivision project.
	</p>

	<p>
Land SurveyingStock Land Division provides licensed land surveying services for the subdivision of land in Adelaide and throughout the Hills. We have provided experienced services for everyone from commercial and residential developers to conveyancers, real estate agents and government agencies. Discuss your property division needs withlicensed land surveyorCameron Stock today.
	</p>
</div>