<div class="container">
  <%= image_tag "service.jpg" %>
</div>

<div class="container">
	<br>
	<h1>Our main service area:<h1>
		<br>
		<h2>Land division consulting:</h2>
		<br>
		<ol>
			<li>Land division consulting and planning.</li>
			<li>Council negotiation.</li>
			<li>Full consents application.</li>
			<li>Quantity surveyor cooperating.</li>
		</ol>

		<h2>House design & Consulting:</h2>
		<br>
		<ol>
			<li>Customised home design and consulting.</li>
			<li>Site plan, floor plan and elevations drawing.</li>
			<li>Development planning consents application. </li>
			<li>Builder selection and quotes comparison.</li>

		</ol>
	<p>
		We also provide other services such as project management, project research, project fund raising and just to name a few. If you have any residential requirement please call us to discuss the matter. 
	</p>

</div>