<div class="container">
  <%= image_tag "service.jpg" %>
</div>

<div class="container">
	<div id="servicetext">
	<br>
	<br>
	<h1>Our services include:<h1>
		<br>

		<h2>Land division consulting:</h2>
		<br>
		<ol>
			<li>Land division consulting and planning.</li>
			<li>Plan negotiation with council.</li>
			<li>Full DA application.</li>
			<li>Cooperation with external Quantity Surveyor.</li>
		</ol>
<br>
		<h2>House design & Consulting:</h2>
		<br>
		<ol>
			<li>Customised home design and consulting.</li>
			<li>Site plan, floor plan and elevations drawing.</li>
			<li>Development planning consents application. </li>
			<li>Building quotes comparison and selection interview assistance.</li>

		</ol>
		<br>
	<p>
		We also provide other services such as project management, project research, project fund raising and just to name a few. If you have any residential requirement please call us to discuss. 
	</p>
</div>
</div>