<div class="container">
  <%= image_tag "all.jpg" %>
</div>
<%- model_class = Project -%>
<div class="container">
<div class="page-header">
  <h1>Brand New Home</h1>
</div>
</div>
  <%@projects.each do |home|%>
  <div class="container landprofile">
    <div class="row">

      <div class="span3" data-no-turbolink>
        <%= link_to image_tag(home.url,:class => 'headimg'),usernewhomes_path(home.id)%>
      </div>
      <div class="span9" data-no-turbolink>
        <h2><%= link_to home.name, usernewhomes_path(home.id) %></h2>
        <p><%= home.description %></p>
      </div>
  </div>
  </div>
  <hr>
  <%end%>