<div class="container">
  <%= image_tag "landtitle.jpg" %>
</div>

<div class="container" id="aboutus">
	<br>
	<h1>About Us<h1>
		<p>Leed Goodrich Land Development is a residential property development company providing comprehensive house land products and planning consulting services. Property development includes a wide range of activities from fund-raising, acquisition of land, land division and council planning application, house design, construction and finish-up. It also includes either the sale or lease of the land and properties on completion. </p>
<p>
Started from small land division projects, over the last five years, our expertise team, have successfully completed several low to median density residential development projects in inner southern and north-east suburbs. Since Leed Goodrich land Development was founded at 2013, by continually focusing on inner urban residential property market, together with our strong knowledge and experience in house and townhouse development, we pride ourselves on delivering high quality products and best value for money services that satisfy various clients’ demands. </p>

	<h1>Our mission</h1>
	<p>
		Our passionate and responsible team aims to create outstanding residential projects including residential land, home & land package and completed houses in sought-after inner urban suburbs. As well as to provide one-stop service for land division developers at all steps from land division planning, house design, approval applications, building to landscaping and completion.
	</p>

	<h1>Our focus</h1>
	<p>
Our multi-skilled expertise team ranging across planning, design, marketing,  construction ensures every project is:
	<ul>
<li>* attractive and successful in both economy and quality.</li>

<li>* well-planned and closely-monitored throughout the whole development process to deliver efficient service  </li>
<li>* highly customer focused and consistently innovative thinking, makes people’s life more convenient and eco-friendly.</li>
<li>* marketed and sold successfully within certain time line, despite any adverse market environment.</li>
<li>* compliance with all necessary requirements and government policy.</li>
	</ul
	</p>
</div>