<div class="container">
  <%= image_tag "home.jpg" %>
</div>

<div class="container" id="aboutus">
	<div id="aboutustext">
	<br>
	<br>
	<h1>About Us<h1>
	<br>
		<p>Leed Goodrich Land Development is a comprehensive residential property development company providing house land solutions and planning consulting services to local clients as well as international investors. </p>
<p>
Started from small land division projects, over the last five years, our expertised team,we have successfully completed several low to median density residential development projects in inner southern and north-east suburbs. Since Leed Goodrich land Development was founded at 2013, by continually focusing on inner urban residential property market, together with our strong knowledge and experience in house and townhouse developments, we pride ourselves on delivering high quality products and best value for money services that satisfy  clients’ various demands.  </p>

<p>
Property development includes a wide range of activities from fund-raising, acquisition of land, land division and council planning application, house design, construction and landscaping. Our expert team can also assist you for either the sale or the lease of properties after completion. 
</p>
<p>
With extensive experiences in real estate industry and close ties with Adelaide’s major builders, architects, surveyors, financial institutions and solicitors, we offer one-stop services that save your time and cost from the beginning to completion.  Our consultants will guide you through the whole process and negotiate with the other parties at your best interest and our design experts who will turn your shiny ideas into professional construction plan to help you DIY your own dream home. 

</p>
<br>
	<h1>Our mission</h1>
	<br>
	<p>
	Our passionate and responsible team aims to create outstanding residential projects including residential land, home and land package and completed houses in sought-after inner urban suburbs. As well as to provide one-stop service for land division developers and home buyers at all steps from land division planning, house design, approval applications, building to landscaping and completion.</p>

<br>
	<h1>Our focus</h1>
	<br>
	<p>
Our multi-skilled expertised team ranging across planning, design, marketing,  construction ensures every project is:</p>
	<ul>
		<li>* attractive and successful in both economy and quality.</li>

		<li>* well-planned and closely-monitored throughout the whole development process to deliver efficient service  </li>
		<li>* highly customer focused and consistently innovative thinking, makes people’s life more convenient and eco-friendly.</li>
		<li>* marketed and sold successfully in a timely manner, under any market environment.</li>
		<li>* compliance with all necessary requirements and government policies.</li>
	</ul>
	<p>
	We dedicate ourselves in providing high quality services and products to achieve the best results for our clients.
	</p>
</div>
</div>