<div class="container">
  <%= image_tag "aboutuszh.jpg" %>
</div>

<div class="container" id="aboutus">
	<div id="aboutustext">
	<br>
	<br>
	<h1>关于我们<h1>
	<br>
		<p>地产开发公司是一家综合型地产开发公司，自主开发多种住宅类地产，包括土地，期房，现房。同时，我们也致力于为房地产开发公司或投资公司及个人提供筛选土地，购地谈判，规划审批，设计施工等一站式管理咨询服务。 </p>
<p>
公司自2009年以来，成功开发多个住宅类地产项目，其中包括低密度别墅，中高密度联排公寓等。我们专注于永久独立产权的别墅类住宅开发，旨在让每一个客户只需花买公寓的钱，享受拥有私家庭院的独栋别墅，同时大量节省物业管理费和印花税的开销。公司所开发的项目均在严格保证施工质量的条件下，达到对开发成本实行精确严密的控制。通过对项目周全的计划和合理安排，在同勘测公司，建筑商等合作机构的完美配合下，实现从购入土地到施工完成仅花费11个月的超高效率建筑周期，取得了令公司团队和客户都非常满意和令人振奋的成绩。 </p>

<p>
经过5年的开发经验积累和持续不间断的学习进步，公司拥有富有经验且认真负责的设计，施工，市场等团队。我们致力于距离阿德莱德城中心10公里范围内的别墅开发，项目遍及Plympton, Glenelg, Walkerville等东西南北各个区域。 
</p>
<br>
	<h1>我们的服务:</h1>
	<br>
		<ul>
		<li>* 空地出售：在我们为您精心挑选的土地上建造您梦想的住宅。</li>

		<li>* 期房销售：选用我们完善的设计，节省您宝贵的时间。  </li>
		<li>* 土地分割咨询：一站式服务为您有效解决分地过程中的一切难题。</li>
		<li>* 房屋设计与咨询：个性化房屋设计让您建造只属于您自己的房子。</li>
	</ul>
	<br>
	<p>
	我们坚信，只有客户的满意，才能创造我们的明天。
</p>

	</p>
</div>
</div>