<div class="container">
	<div>
	    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13081.808434045388!2d138.59968053965122!3d-34.94527548688498!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0cf1d061cf613%3A0x775446c8a7c66d44!2s83+Greenhill+Rd!5e0!3m2!1sen!2sau!4v1403659392038" width="100%" height="400" frameborder="0" style="border:0"></iframe>
	</div>
<div>

    <!-- start: Wrapper -->	
	<div id="wrapper">		

		<!-- start: Container -->	
		<div class="container">
			
			<!-- start: Row -->
			<div class="row">
			
				<!-- start: Contact Info -->
				<div class="span4">
					<div class="title"><h3>Contact Info</h3></div>
					<p>
						<b>Leed Goodrich Land </br>Development PTY. LTD</b>
					</p>
					<p>
						Level1-83 Greenhill Road
					</p>
					<p>	
						Wayville, SA 5034
					</p>	
					<p>	
						Phone: +61 8 7225 9193
					</p>
					<p>	
						Fax: +61 8 7225 9193
					</p>
					<p>
						Email: info@leedgoodrich.com.au
					</p>

				</div>
				<!-- end: Contact Info -->		

				<!-- start: Contact Form -->
				<div class="span4">
					<div class="title"><h3>Contact Form</h3></div>

					<!-- start: Contact Form -->
					<div id="contact-form">

						<form method="post" action="">

							<fieldset>
								<div class="clearfix">
									<label for="name"><span>Name:</span></label>
									<div class="input">
										<input tabindex="1" size="18" id="name" name="name" type="text" value="">
									</div>
								</div>

								<div class="clearfix">
									<label for="email"><span>Email:</span></label>
									<div class="input">
										<input tabindex="2" size="25" id="email" name="email" type="text" value="" class="input-xlarge">
									</div>
								</div>

								<div class="clearfix">
									<label for="message"><span>Message:</span></label>
									<div class="input">
										<textarea tabindex="3" class="input-xlarge" id="message" name="body" rows="7"></textarea>
									</div>
								</div>

								<div class="actions">
									<button tabindex="3" type="submit" class="btn btn-succes btn-large">Send message</button>
								</div>
							</fieldset>

						</form>

					</div>
					<!-- end: Contact Form -->

				</div>
				<!-- end: Contact Form -->

				<!-- start: Social Sites -->
				<div class="span4">
					<div class="title"><h3>Partners</h3></div>
					<ul class="social-bookmarks">
						<li class="apple"><a href="#">apple</a></li>
						<li class="behance"><a href="#">behance</a></li>
						<li class="facebook"><a href="https://www.facebook.com/brankic1979themes">facebook</a></li>
						<li class="twitter"><a href="#">twitter</a></li>
						<li class="youtube"><a href="#">youtube</a></li>
						<li class="zerply"><a href="#">zerply</a></li>
						<li class="zootool"><a href="#">zootool</a></li>
					</ul>
				</div>
				<!-- end: Social Sites -->
			
			</div>
			<!-- end: Row -->

		</div>
		<!-- end: Container -->
				
  	</div>
	<!-- end: Wrapper  -->			
